@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    padding:0 20px;
}

nav ul li{
    padding: 0 12px;
}

  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
h2 {
  margin-top: 30px;
  font-family: 'Varela Round', sans-serif;
}

  
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.column {
  flex: 1;
  max-width: 300px;
  margin: 10px;
}
  
  .card {
    background-color: #f1e7e7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
}
.card img {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.button, .nav-button {
  background-color: #7ebe94;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease, transform 0.2s;
}

.button:hover, .nav-button:hover {
  background-color: #1ed760;
  transform: translateY(-2px);
}
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 15px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: grey;
  }
  
  .button {
    background-color: #12a746;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.2s;
}

.button:hover {
    background-color: #26dd32;
    transform: translateY(-2px);
}
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }